@{
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    @foreach (var item in ViewBag.Actions.Keys)
    {
        <li><a href="/DemoActionResult/@ViewBag.Actions[item]">@item</a></li>
    }
</ul>