@model int

<td class="text-right">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary rounded-0" asp-action="Edit" asp-route-id="@Model"><i class="far fa-edit"></i></a>
        <form method="post" action="Delete">
            <button onclick="if (!confirm('Вы уверены, что хотите удалить этот объект?')){ return false }" type="submit" class="btn btn-danger rounded-0" asp-action="Delete" asp-route-id="@Model"><i class="far fa-trash-alt"></i></button>
        </form>
    </div>
</td>