
@{
  ViewBag.Title = "Register";
}

<h1>Register</h1>

<form method="post" action="Register">
  <table cellpadding="3">
    <tr>
      <td>Name :</td>
      <td>
        <input type="text" name="Name" />
      </td>
    </tr>
    <tr>
      <td>Password :</td>
      <td>
        <input type="password" name="Password" />
      </td>
    </tr>
    <tr>
      <td>User Name :</td>
      <td>
        <input type="text" name="UserName" />
      </td>
    </tr>
    <tr>
      <td>City :</td>
      <td>
        <input type="text" name="City" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Register">
      </td>
    </tr>
  </table>
</form>

