@{
    ViewBag.Title = "About";
}
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <h2>Choose your role</h2>
        <div class="container">
            <div class="row">

                    <div >
                        <button class="btn-user">Pasenger</button>
                        <button class="btn-user">Driver</button>
                        <hr />
                    </div>

            </div>
        </div>
    </body>
